<h1>Profile</h1>
<section class="container">

<div class="column">
  <div class="userName">
    <h2>user Name</h2>
  </div>
  <div class="skills">
    <h2>Skills</h2>
  </div>
  <div class="contact">
    <h2>Contact</h2>
  </div>
</div>
<div class="column">
  <div class="userName">
    <h4>{{result.fname}} {{result.lname}}</h4>
  </div>
  <div class="skills">
      <h4>{{result.title}}</h4>
  </div>
  <div class="contact">
      <h4>{{result.email}}</h4>
  </div>
</div>
</section>
