<nav>
  <div class="homePage">
    <a href="/"><h5>Home Page</h5></a>

  </div>
  <div class="entry">
    {{#if name}}
    <a href="/profile/{{id}}"><h5>{{ name}}</h5></a>

    {{/if}}
  </div>
</nav>
