<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>

  <header class="navbar">
    <div class="navbar__container">
      <nav class="navbar__nav" role="navigation">
        <ul class="navbar__list">
          <li class="navbar__item"></li>
          <li class="navbar__item"></li>
        </ul>
      </nav>
    </div>
  </header>

  <main class="main">
  {{{body}}}
  </main>

{{>footer}}

  <script src="/js/main.js"></script>

</body>
</html>
