
<html lang="en">
<head>
  {{>header}}
</head>
<body>

  <!-- <header class="navbar">
    {{!>navbar}}
  </header> -->

  <main class="main">
    {{{body}}}
  </main>

  <footer class="footer">
  {{>footer}}
  </footer>

  <script src="/js/main.js"></script>

</body>
</html>
